{% extends 'base.html' %}
{% block title %} Home{% endblock title %} Home
  {% block body %}

    

    <div class="container my-5">
        <h2>Update Your Todo</h2>
        <form action="/update/{{todo.sno}}" method="POST">
            <div class="form-group">
                <label for="title">Todo Title</label>
                <input type="text" class="form-control" name="title" id="title" value=" {{todo.title}}" aria-describedby="emailHelp"
                    placeholder="Enter Todo Title">
            </div>
            <div class="form-group">
                <label for="desc">Todo Description</label>
                <input type="text" class="form-control" name="desc" id="desc" value=" {{todo.desc}}" placeholder="Enter Todo Description">
            </div>
            <button type="submit" class="btn btn-dark">Update</button>
        </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
        
{% endblock body %}